:root {
  --primary: #2c3e50;
  --secondary: #34495e;
  --alert: #f2b632;
  --success: #27ae60;
  --danger: #e74c3c;
}

a:visited {
  color: inherit !important;
}

button {
  outline: none !important;
  border: 0.5px solid transparent !important;
}

button:hover {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  height: 100vh;
  background: var(--secondary);
  color: #ecf0f1;
}

.copyright {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-right: 20px;
}
.footer-icon {
  padding-right: 5px;
}
.footer-text {
  font-size: 12px;
}

.logo:hover {
  cursor: pointer;
}

input {
  padding: 10px 10px;
  outline: none !important;
  border: 2px solid #a3aac9;
  background-color: #a3aac9;
  border-radius: 4px;
  color: #f0f2fb;
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  transition: all 0.3s;
}
input:focus {
  border-color: #757fae;
  background-color: #8c94bb;
}

label {
  font-size: 14px !important;
}
